*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: black 1px solid;
}

.row::after {
    content:"";
    display: table;
    clear: both;
}

nav{
    height: 70px;
    line-height: 70px;
}

.centralizza-contenuto{
    text-align: center;
}

.centralizza{
    margin: 0 auto;
}

.corpo-centrale{
    width: 70%;
}

.text-white{
    color: white;
}

button{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
}

/* <---------------------------------------------------------------> */


/* ----jumbotron---- */
.container{
    width: 1300px;
}

.jumbotron{
    width: 100%;
    height: 450px;
    background: url("../img/jumbo.png") no-repeat 50% 80%;
    background-size: cover;
}

/* ----navbar---- */
.side-left{
    width: 15%;
    float: left;
}

.center{
    width: 70%;
    float: left;
}

.logo{
    
    vertical-align: middle;

}

ul{
    list-style: none;
    
}

li{
    display: inline-block;
    
}

.text-lista{
    padding: 0 10px;
}

.side-right {
    float: right;
}

/* ----fine navbar---- */

.jumbotron-text{
    width: 60%;
    margin-top: 70px;
}

.p-jumbotron{
    padding: 20px 0;
}

h1{
    padding-bottom: 10px;
}

.big-black, .big-white{
    padding: 15px;
    border-radius: 25px;
    margin-left: 10px;
}

.big-black{
    background-color: black;
}

.big-white::before{
    content: '\1F817   ';
    font-weight: bold;
}
/* ----fine jumbotron */