*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row::after {
    content:"";
    display: table;
    clear: both;
}

nav{
    height: 70px;
    line-height: 70px;
}

.colonna{
    margin-bottom: 20px;
}
.centralizza-contenuto{
    text-align: center;
}

.centralizza{
    margin: 0 auto;
}

.corpo-centrale{
    width: 70%;
}

.text-white{
    color: white;
}

button{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    border: none;
}

.lf{
    float: left;
}

.rg{
    float: right;
}

.larga{
    width: 65%;
}

.stretta{
    width: 25%;
    padding-top: 30px;
}



/* <---------------------------------------------------------------> */


/* ----jumbotron---- */
.container{
    width: 1300px;
}

.jumbotron{
    width: 100%;
    height: 450px;
    background: url("../img/jumbo.png") no-repeat 50% 80%;
    background-size: cover;
}

/* ----navbar---- */

.jumbotron{
    margin-bottom: 50px;
}

.side .lf{
    width: 15%;
}

.center{
    width: 70%;
    float: left;
}

.logo{
    
    vertical-align: middle;

}

ul{
    list-style: none;
    
}

li{
    display: inline-block;
    
}

.text-lista{
    padding: 0 10px;
}


/* ----fine navbar---- */

.jumbotron-text{
    width: 60%;
    margin-top: 70px;
}

.p-jumbotron{
    padding: 20px 0;
}

h1{
    padding-bottom: 10px;
}

.big-black, .big-white{
    padding: 15px;
    border-radius: 25px;
    margin-left: 10px;
}

.big-black{
    background-color: black;
}

.big-white::before{
    content: '\1F817';
    font-weight: bold;
}
/* ----fine jumbotron */

/* ----main---- */
.lf img, .rg img{
    width: 100%;
}

h2{
    font-size: 230%;
    margin-bottom: 20px;
}

.background{
    width: 100%;
    background-color:#F2F2F2;
}

.ondainterna{
    height: 90px;
    width: 100%;  
    margin-top: 50px;     
}

.ondaesterna{
    height: 90px;  
    opacity: 0.05;
}

.ondainterna img{
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.margine{
    margin-bottom: 50px;
}

.stars{
    background: url('../img/stars.svg') no-repeat;
    background-size: 100%;
    height: 40px;
    width: 370px;
}

h3{
    padding: 25px 0;
}

#azzurro{
    margin-top: 35px;
    background-color: cornflowerblue;
}